// *** Styling Homepage Form *** //
#footer .container .contact {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 3rem 1rem;
  margin: 2rem 0;
  @include md {
    padding: 3rem 2rem;
    align-items: baseline;
  }
  .form {
    display: block;
    width: 100%;
    background-color: inherit;
    margin-bottom: 3rem;
    @include md {
      width: 48%;
    }
    h3 {
      color: $heading_color;
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
      &:after {
        content: "";
        display: block;
        height: 4px;
        width: 6rem;
        background-color: $prim_color;
        margin-top: 0.6rem;
      }
    }

    form#form {
      display: block;
      width: 100%;
      input[type="text"] {
        display: block;
        background: inherit;
        border: 1px solid lighten($color: $p_color, $amount: 50);
        border-radius: 4px;
        width: 100%;
        padding: 0.6rem;
        color: $p_color;
        margin-bottom: 1rem;
        outline-color: $prim_color;
        transition: $easeInOut;
      }
      input[type="email"] {
        @extend input[type="text"];
      }

      #message {
        @extend input[type="text"];
        height: 8rem;
      }

      #submit {
        padding: 1rem 2rem;
        border-radius: 999px;
        color: white;
        background-color: $prim_color;
        font-size: 1.1rem;
      }
    }
  }

  .contact_info {
    display: block;
    width: 100%;
    background-color: inherit;
    @include md {
      width: 48%;
    }
    h3 {
      color: $heading_color;
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
      &:after {
        content: "";
        display: block;
        height: 4px;
        width: 6rem;
        background-color: $prim_color;
        margin-top: 0.6rem;
      }
    }
    .info {
      display: block;
      width: 100%;
      p {
        color: $p_color;
        line-height: 1.5;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      ul {
        margin-bottom: 2rem;
        li {
          color: $p_color;
          margin-bottom: 1rem;
          span {
            margin-right: 1rem;
            color: $prim_color;
          }
        }
      }
    }
    .socials {
      display: block;
      width: 100%;
      ul {
        li {
          display: inline-block;
          margin-right: 0.4rem;

          a {
            span {
              font-size: 1.4rem;
              display: inline-block;
              padding: 0.4rem;
              color: $heading_color;
              border: 0.2rem solid $prim_color;
              border-radius: 50%;
              transition: $easeInOut;
              background-color: inherit;
              &:hover {
                color: white;
                background-color: $prim_color;
                border-color: lighten($color: $prim_color, $amount: 35);
              }
            }
          }

          &:first-of-type {
            a span {
              padding: 0.4rem 0.8rem;
            }
          }

          &:nth-of-type(2),
          &:nth-of-type(4) {
            a span {
              padding: 0.4rem 0.6rem;
            }
          }
          &:nth-of-type(3) {
            a span {
              padding: 0.4rem 0.5rem;
            }
          }
        }
      }
    }
  }
}

// *** Styling Blog Form *** //
.reply {
  .form {
    display: block;
    width: 100%;
    background-color: inherit;
    margin-bottom: 3rem;

    h3 {
      color: $heading_color;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      &:after {
        content: "";
        display: block;
        height: 4px;
        width: 6rem;
        background-color: $prim_color;
        margin-top: 0.6rem;
      }
    }

    form#blog_form {
      display: block;
      width: 100%;
      .name {
        display: block;
        background: inherit;
        border: 1px solid lighten($color: $p_color, $amount: 50);
        border-radius: 4px;
        width: 100%;
        padding: 0.6rem;
        color: $p_color;
        margin-bottom: 1rem;
        outline-color: $prim_color;
        transition: $easeInOut;

        @include lg {
          display: inline-block;
          width: 49%;
          margin-right: 3%;
        }
      }
      .email {
        display: block;
        background: inherit;
        border: 1px solid lighten($color: $p_color, $amount: 50);
        border-radius: 4px;
        width: 100%;
        padding: 0.6rem;
        color: $p_color;
        margin-bottom: 1rem;
        outline-color: $prim_color;
        transition: $easeInOut;

        @include lg {
          display: inline-block;
          width: 47%;
        }
      }

      .website {
        display: block;
        background: inherit;
        border: 1px solid lighten($color: $p_color, $amount: 50);
        border-radius: 4px;
        width: 100%;
        padding: 0.6rem;
        color: $p_color;
        margin-bottom: 1rem;
        outline-color: $prim_color;
        transition: $easeInOut;
      }

      #message {
        @extend .website;
        height: 10rem;
      }

      #submit {
        padding: 1rem 2rem;
        border-radius: 999px;
        color: white;
        background-color: $prim_color;
        font-size: 1.1rem;
      }
    }
  }
}
