//***Breaking Points and Media term ***//
$mqTerm: "only screen";
$bp-xl: "min-width: 1200px";
$bp-lg: "min-width: 992px";
$bp-md: "min-width: 768px";
$bp-sm: "max-width: 767px";

// *** Fonts *** //
$heading_font: Arial;
$body_font: Arial;

$heading_weight: 700;

// *** Colors *** //
$prim_color: #0078ff;
$sec_color: #f5f5f5;
$heading_color: #1e1e1e;
$p_color: #4e4e4e;

// *** Transition *** //
$easeInOut: all 0.3s ease-in-out;

// *** Shadow Box *** //
$navbarShadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
$profileShadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
