//*** Styling Profile Section *** //
#profile {
  display: block;
  width: 100%;
  margin: 4rem 0;
  border-radius: 2px;
  .container {
    .profile_wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 4rem 1rem;
      background-color: white;
      box-shadow: $profileShadow;
      @include lg {
        flex-direction: row;
        justify-content: space-between;
      }
      .profile_info {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include lg {
          width: 48%;
        }
        .profile_card {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
          @include sm {
            flex-direction: row;
          }
          .profile_img {
            width: 100%;
            border-radius: 2px;
            padding-left: 0.5rem;
            margin-bottom: 1rem;
            margin-right: 4rem;
            width: 150px;
            height: 150px;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: inherit;
            }
          }
          .info {
            display: block;
            p {
              &:not(:last-of-type) {
                margin-bottom: 1.4rem;
              }
              color: $p_color;
              .title {
                color: $heading_color;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 1.2rem;
              }
            }
          }
        }
        .profile_skills {
          display: block;
          width: 100%;
          .title {
            display: block;
            color: $heading_color;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
          }
          .skill {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1.4rem;
            span {
              color: $p_color;
              display: block;
            }
            &_name {
              text-transform: uppercase;
            }
            .progress {
              display: block;
              width: 100%;
              height: 0.7rem;
              margin-top: 0.8rem;
              background-color: lighten($prim_color, 40%);
              position: relative;
              div {
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $prim_color;
                z-index: 2;
              }
              &_html {
                width: 85%;
              }
              &_css {
                width: 75%;
              }
              &_php {
                width: 50%;
              }
              &_js {
                width: 90%;
              }
            }
          }
        }
      }

      .profile_about {
        display: block;
        width: 100%;
        margin-top: 2rem;
        @include lg {
          width: 48%;
          margin-top: 0;
        }
        h3 {
          font-weight: lighter;
          font-size: 2rem;
          color: $heading_color;
          margin-bottom: 2rem;
          &:after {
            display: block;
            content: "";
            width: 6rem;
            height: 0.2rem;
            background: $prim_color;
            margin-top: 0.5rem;
          }
        }

        p {
          color: $p_color;
          line-height: 1.5;
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// *** Styling Services Section *** //
#services {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  .container {
    .services_heading {
      @include heading;
    }
    .services_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 3rem 2rem;
      }
      .service {
        display: block;
        background-color: white;
        border-radius: 0.6rem;
        padding: 2rem 1rem;
        text-align: center;
        box-shadow: $navbarShadow;
        &:hover {
          .service_icon {
            span {
              border-color: lighten($prim_color, 40);
              background-color: $prim_color;
              i {
                color: white;
              }
            }
          }
        }
        &_icon {
          display: block;
          height: auto;
          margin-bottom: 1rem;

          span {
            display: inline-block;
            font-size: 3rem;
            border: 0.6rem solid $prim_color;
            border-radius: 999px;
            transition: $easeInOut;

            i {
              color: $heading_color;
              transition: $easeInOut;
            }
            &.icon-1 {
              padding: 1.5rem;
            }
            &.icon-2 {
              padding: 1.5rem 1.3rem;
            }
            &.icon-3,
            &.icon-5,
            &.icon-6 {
              padding: 1.5rem 1.7rem;
            }
            &.icon-4 {
              padding: 1.5rem 2.2rem;
            }
          }
        }
        h3 {
          color: $heading_color;
          margin-bottom: 1.5rem;
          text-transform: uppercase;
        }
        p {
          line-height: 1.4;
          color: $p_color;
        }
      }
    }
  }
}

// *** Styling Achievement Section *** //
#achievs {
  position: relative;
  display: block;
  width: 100%;
  padding: 5rem 0;
  @include bg_img("../imgs/counters-bg.jpg");
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: $prim_color, $alpha: 0.5);
  }
  .container {
    .achievs_wrapper {
      display: block;
      width: 100%;
      position: relative;
      z-index: 2;
      color: $sec_color;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      @include md {
        flex-direction: row;
      }
      .achiev {
        display: block;
        width: 100%;
        text-align: center;
        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }
        @include md {
          width: 50%;
          &:nth-last-of-type(2) {
            margin-bottom: 0;
          }
        }
        @include lg {
          width: 25%;
          margin-bottom: 0;
        }
        &_icon {
          display: block;
          margin: 0 auto 1rem;
          span {
            display: inline-block;
            font-size: 2rem;
            border: 0.6rem solid lighten($color: $prim_color, $amount: 40);
            border-radius: 999px;
            &.icon-1,
            &.icon-4 {
              padding: 1rem 1.2rem;
            }
            &.icon-2 {
              padding: 1rem 1.3rem;
            }
            &.icon-3 {
              padding: 1rem;
            }
          }
        }
        &_content {
          display: block;
          .num {
            display: block;
            font-size: 2rem;
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}

// *** Styling Portfolio Section ***//
#portfolio {
  display: block;
  width: 100%;
  margin: 4rem 0 3rem;

  .container {
    .portfolio_heading {
      @include heading;
    }

    .portfolio_wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3rem 2rem;
      }

      @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
      .portfolio_card {
        display: block;
        width: 100%;
        background-color: white;
        box-shadow: $prtfShadow;
        .card_img {
          display: block;
          width: 100%;
          overflow: hidden;
          img {
            display: block;
            width: inherit;
            transition: $easeInOut;
          }
        }
        .card_content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 2rem 1rem;
          .content {
            display: block;
            h3 {
              color: $heading_color;
              margin-bottom: 1rem;
              font-weight: 300;
              text-transform: capitalize;
            }
            p {
              color: $p_color;
              font-size: 0.8rem;
              .card_section {
                color: $prim_color;
              }
            }
          }
          .open_icon {
            display: block;
            img {
              display: block;
            }
          }
        }
        &:hover {
          cursor: pointer;
          .card_img {
            img {
              transform: scale(1.3);
              transform-origin: 50% 50%;
            }
          }
        }
      }
    }
  }
}

// *** Styling Testimonials Section *** //
#testimonials {
  display: block;
  width: 100%;
  position: relative;
  @include bg_img("../imgs/overlay-bg.jpg");
  background-attachment: scroll;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: $prim_color, $alpha: 0.5);
  }
  .container {
    #testimonials_wrapper {
      z-index: 4;
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      padding: 4rem 0;
      .testimonial {
        width: 100%;
        .test_img {
          display: block;
          width: 100%;
          margin-bottom: 1rem;
          img {
            border-radius: 999px;
            display: block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
          }
        }
        .test_content {
          display: block;
          width: 100%;
          padding: 0 1rem;
          text-align: center;
          @include md {
            padding: 0 2rem;
          }

          @include lg {
            padding: 0 6rem;
          }
          .author {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-transform: uppercase;
          }

          p {
            font-size: 1.2rem;
            line-height: 1.4;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

// *** Styling Blog Section *** //
#blog {
  display: block;
  width: 100%;
  margin: 5rem 0;
  .container {
    .blog_heading {
      @include heading;
    }

    .blog_wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0;
      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem 1rem;
      }
      @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0rem 1rem;
      }
      .blog_card {
        display: block;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        overflow: hidden;
        box-shadow: $prtfShadow;

        a {
          .card_img {
            display: block;
            width: 100%;
            cursor: pointer;
            img {
              display: block;
              width: 100%;
            }
          }
        }
        .card_content {
          display: block;
          padding: 2rem 1rem;
          position: relative;
          background-color: white;
          .category {
            display: block;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translate(-50%);
            background-color: $prim_color;
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            h6 {
              text-transform: uppercase;
              color: white;
            }
          }
          a {
            h3 {
              color: $heading_color;
              margin: 0 0 1rem;
              font-size: 1.5rem;
              font-weight: 300;
              cursor: pointer;
            }
          }

          p {
            color: $p_color;
            line-height: 1.4;
          }
        }

        .card_footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0.5rem;
          background-color: rgba(0, 0, 0, 0.03);
          border-top: 1px solid rgba(0, 0, 0, 0.125);
          .post_author {
            display: block;
            display: flex;
            align-items: center;
            img {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
            span {
              color: $heading_color;
            }
          }
          .post_date {
            display: block;
            span {
              color: lighten($color: $p_color, $amount: 35);
            }
            time {
              color: $p_color;
            }
          }
        }
      }
    }
  }
}
